<div>
    <button (click)="initiateRecording()" type="button" class="col btn btn-success btn-rounded upload-button" *ngIf="!recording" style="cursor: pointer;">
        Start Recording
    </button>

    <button (click)="stopRecording()" type="button" class="col btn btn-success btn-rounded upload-button" *ngIf="recording" style="cursor: pointer;">
        Stop Recording
    </button>

    <div
            class="modal"
            tabindex="-1"
            role="dialog"
            data-backdrop="static"
            [ngStyle]="{'display': displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Generated outputs for the custom recording</h2>
                </div>
                <div class="modal-body">
                    <h3>Spectrograms</h3>
                    <div class="myLoader">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                    <div id="custom-spectrogram-container" class="mx-auto"></div>
                    <h3>Audio tracks</h3>
                    <div class="myLoader">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                    <div id="custom-audio-tracks-container" class="mx-auto"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            (click)="closePopup()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
