<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1"></h6>
              <h2 class="text-white mb-0">Audio super-resolution</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart light-text-dark-background">
            Audio super-resolution refers to the task of reconstructing a downsampled recording back to a configuration similar to the ground-truth high-resolution version. As a result, the super-resolution output is an audio recording of a higher sample rate which misses some of the high frequencies present in the ground truth.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Upsampling</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque felis, sodales et nibh sit amet, ultrices maximus odio. Donec vitae quam non massa elementum facilisis. Nam aliquam, lectus ac fermentum scelerisque, lacus est viverra dui, eget efficitur justo erat eu eros. Curabitur vitae velit molestie, pretium magna ut, tincidunt metus. Quisque condimentum malesuada molestie. Nullam cursus posuere dignissim. Vestibulum id lacinia urna. Proin nec elit malesuada, molestie lectus in, dignissim quam. Pellentesque mattis commodo felis at pharetra. Nulla imperdiet lorem sit amet ligula sagittis, ut molestie urna elementum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Multiscale convolutions / 1D Inception modules</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque felis, sodales et nibh sit amet, ultrices maximus odio. Donec vitae quam non massa elementum facilisis. Nam aliquam, lectus ac fermentum scelerisque, lacus est viverra dui, eget efficitur justo erat eu eros. Curabitur vitae velit molestie, pretium magna ut, tincidunt metus. Quisque condimentum malesuada molestie. Nullam cursus posuere dignissim. Vestibulum id lacinia urna. Proin nec elit malesuada, molestie lectus in, dignissim quam. Pellentesque mattis commodo felis at pharetra. Nulla imperdiet lorem sit amet ligula sagittis, ut molestie urna elementum.</p>

            <p>Nullam lacinia sagittis arcu a consequat. Cras consequat sed magna a cursus. Quisque hendrerit porta velit ac tempus. Ut mattis venenatis hendrerit. Vivamus maximus, neque vitae sodales vulputate, orci tellus accumsan magna, vitae mattis mauris libero id velit. Maecenas a quam vitae augue pretium mattis. Duis dolor lacus, pulvinar non dapibus nec, lacinia nec eros. Vestibulum blandit fermentum laoreet. Suspendisse luctus dictum dolor ut viverra. In ac nulla malesuada orci auctor gravida vel a libero. In dictum dui sit amet iaculis tincidunt. Donec molestie bibendum pellentesque. Nunc vel hendrerit sapien, ut efficitur turpis. Nunc eget dui quis ex ullamcorper tristique.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Run the model on a random recording</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div *ngIf="checkLocalStorageId(); else elseBlock">
              <app-prediction></app-prediction>
            </div>
            <ng-template #elseBlock>To be able to retrieve outputs generated by the model, please log into your account or create one if needed.</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
