<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1"></h6>
              <h2 class="text-white mb-0">Audio super-resolution</h2>
            </div>
          </div>
        </div>
        <div class="card-body d-flex">
          <div class="chart light-text-dark-background">
            <p> Audio super-resolution refers to the task of reconstructing a downsampled recording back to a configuration similar to the ground-truth high-resolution version. As a result, the super-resolution output is an audio recording of a higher sample rate which misses some of the high frequencies present in the ground truth recording. </p>
            <img src="assets/img/model-with-inception-modules.png" class="diagram mx-auto d-block">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Upsampling</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <p>In digital signal processing, upsampling, expansion, and interpolation are terms associated with the process of resampling in a multi-rate digital signal processing system. Upsampling can be synonymous with expansion, or it can describe an entire process of expansion and filtering (interpolation). When upsampling is performed on a sequence of samples of a signal or other continuous function, it produces an approximation of the sequence that would have been obtained by sampling the signal at a higher rate (or density, as in the case of a photograph). For example, if compact disc audio at 44,100 samples/second is upsampled by a factor of 5/4, the resulting sample-rate is 55,125. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Multiscale convolutions / 1D Inception modules</h3>
            </div>
          </div>
        </div>
        <div class="card-body d-flex">
          <div class="chart">
            <p>	The term "multiscale convolutions" has been used until the present moment in the context of models which contain blocks of layers placed on separate branches bound together by a concatenation layer. This concept has been inspired by the Inception architectures, which display the use of the well-known "Inception blocks". By leveraging a multi-scale approach, a convolutional neural network succeeds at capturing more features from the data. </p>
            <img src="assets/img/onedimensional-inception-module.png" class="diagram mx-auto d-block">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Run the model on a random recording</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div *ngIf="checkLocalStorageToken(); else elseBlock">
              <app-prediction></app-prediction>
              <app-recorder></app-recorder>
            </div>
            <ng-template #elseBlock>To be able to retrieve outputs generated by the model, please log into your account or create one if needed.</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Root mean squared error</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            The root mean squared error is a commonly used measure in the evaluation of the quality of a model's predictions. Technically, the RMSE describes how far a prediction ends up from the actual expected value by using the Euclidian distance.

            Similar to the classic mean squared error, in order to calculate the RMSE, we have to compute all residual errors for each data point (in our case, the difference between the samples from the high-resolution audio and the ones from the super-resolution audio, which is the output of the model). These differences are then raised to the power of 2, summed up, then their mean is computed and the square root of this number is determined.

            <div [mathjax]="rmseFormula"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Normalized root mean squared error</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            As a general rule, the root mean squared error is a decent measure of accuracy, however it should only be used to compare prediction errors for different models on a particular dataset and not between datasets, due to the fact that it is a scale-dependent metric. In order to solve this specific issue, we can involve the normalized root mean squared error which is based on the RMSE, coupled with a method of normalizing this value to get rid of RMSE's property of being scale-dependent. In our case, the RMSE is normalized by the interquartile range of the set that is computed on, regardless of whether it is the training set, validation set or test set.

            <div [mathjax]="nrmseFormula"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Signal-to-noise ratio</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            The signal-to-noise ratio (SNR) is a metric regularly used in acoustics in experiments focused on measurements and instrument design. SNR creates a comparison between the level of a signal and the level of the background noise contained inside it.

            The general formula for this metric is written below:
            <div [mathjax]="snrFormula" class="display: inline;"></div>

            Due to the fact that many signals contain values which are situated in wide ranges, they are frequently expressed through the logarithmic decibel scale.

            <div [mathjax]="snrFormula2"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
