<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1"></h6>
              <h2 class="text-white mb-0">Audio super-resolution</h2>
            </div>
          </div>
        </div>
        <div class="card-body d-flex">
          <div class="chart light-text-dark-background">
            <p> Audio super-resolution refers to the task of reconstructing a downsampled recording back to a configuration similar to the ground-truth high-resolution version. As a result, the super-resolution output is an audio recording of a higher sample rate which misses some of the high frequencies present in the ground truth recording. </p>
            <img src="assets/img/model-with-inception-modules.png" class="diagram mx-auto d-block">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">Upsampling</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <p>In digital signal processing, upsampling, expansion, and interpolation are terms associated with the process of resampling in a multi-rate digital signal processing system. Upsampling can be synonymous with expansion, or it can describe an entire process of expansion and filtering (interpolation). When upsampling is performed on a sequence of samples of a signal or other continuous function, it produces an approximation of the sequence that would have been obtained by sampling the signal at a higher rate. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Multiscale convolutions / 1D Inception modules</h3>
            </div>
          </div>
        </div>
        <div class="card-body d-flex">
          <div class="chart">
            <p>	The term "multiscale convolutions" has been used until the present moment in the context of models which contain blocks of layers placed on separate branches bound together by a concatenation layer. This concept has been inspired by the Inception architectures, which display the use of the well-known "Inception blocks". By leveraging a multi-scale approach, a convolutional neural network succeeds at capturing more features from the data. </p>
            <img src="assets/img/onedimensional-inception-module.png" class="diagram mx-auto d-block">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Run the model on a random recording</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div *ngIf="checkLocalStorageToken(); else elseBlock">
              <app-prediction></app-prediction>
              <app-recorder></app-recorder>
            </div>
            <ng-template #elseBlock>To be able to retrieve outputs generated by the model, please log into your account or create one if needed.</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Root mean squared error</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            The root mean squared error is a commonly used measure in the evaluation of the quality of a model's predictions, describing how far a prediction ends up from the actual expected value by using the Euclidian distance.

            <div [mathjax]="rmseFormula"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Normalized root mean squared error</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            To solve the issue of RMSE being a scale-dependent metric, we can use the normalized root mean squared error which is based on the RMSE, coupled with a method of normalizing this value. In our case, the RMSE is normalized by the interquartile range of the set that is computed on, regardless of whether it is the training set, validation set or test set.

            <div [mathjax]="nrmseFormula"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Signal-to-noise ratio</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            SNR is a commonly used metric in acoustics and engineering as a whole. It creates a comparison between the level of a signal and the level of the background noise contained inside it.

            <div [mathjax]="snrFormula" class="display: inline;"></div>

            Due to the fact that many signals contain values which are situated in wide ranges, they are frequently expressed through the logarithmic decibel scale.

            <div [mathjax]="snrFormula2"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Dataset</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p> The dataset involved in the model development is the Voice Bank Corpus (also known as VCTK Corpus), which contains speech recordings featuring 110 English speakers reading various phrases from the Herald Glasgow newspapers. The recordings are accompanied by their corresponding transcript text and each speaker is associated with a specific collection of texts that were selected based on a greedy approach in order to obtain a sufficient range of phonemes.
          The recordings have been created by means of a setup formed out of an omni-directional microphone as well as a diaphragm condenser microphone at a sampling rate 96khZ and a sample-depth of 24 bits. Afterwards, the recordings were downsampled to 48 khZ, which is also the sample rate found in our experiment, and to a sample-depth of 16 bits, suggesting that the values contained in the audio are included in the range ±2<sup>16</sup>.
          </p>
          <p>
            To ensure that the generation of the custom dataset is finished quickly, our <i>DatasetGenerator.py</i> Python script operates with the support of the <i>multiprocessing</i> module. Its purpose in the experiment is to create processes to which we can assign the dataset generation task, where the first 1000 tracks of the VCTK dataset are split in equal amounts of tracks given to each process. In our case, each one of the four processes takes a fourth of the 1000 tracks used for the generation step and creates pairs of low-resolution and high-resolution audio patches of size 4096. To obtain the low-resolution counterpart of the high-resolution audio patch, we discard 3 fourths of the samples of a patch, using Python's double colon operator which is a special type of slicing feature included in Python.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Evaluation metrics on models (batch size = 16)</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
            <p>According to the displayed <a href="http://www.wireless-nets.com/resources/tutorials/define_SNR_values.html">link</a>, the acceptable signal-to-noise ratio for wireless voice telephony systems recommended by Cisco is a value of 25 dB. In our case, the model's evaluation metrics surpassed the recommended SNR. This suggests that after increasing the complexity of the model by including 1D Inception modules and removing the last dropout layer, we do indeed obtain a slightly improved performance. </p>
          <app-evaluation-metrics-table></app-evaluation-metrics-table>
          </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">SNR levels</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
            <table>
              <tr>
                <td>> 40dB SNR</td>
                <td>Excellent signal</td>
              </tr>

              <tr>
                <td class="redth">25dB to 40dB SNR</td>
                <td class="redth">Very good signal</td>
              </tr>

              <tr>
                <td>15dB to 25dB SNR</td>
                <td>Low signal</td>
              </tr>

              <tr>
                <td>10dB to 15dB SNR</td>
                <td>Very low signal</td>
              </tr>

              <tr>
                <td>5dB to 10dB SNR</td>
                <td>No signal</td>
              </tr>
            </table>

            <h3 class="mb-0" style="margin-top: 20px;">Baselines (SNR values)</h3>

            <table>
              <br>
              <thead>
              <tr>
                <th>Linear interpolation</th>
                <th>Cubic spline interpolation</th>
                <th class="redth">Custom model</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  19.67
                </td>
                <td>
                  26.80
                </td>
                <td class="redth">
                  27.57
                </td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Output for track no. 1004</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div>
            <img src="assets/audio/spectrograms-track-1004-transcript-b'It is a real problem.'.png" class="diagram mx-auto d-block">
            <h4>"It is a real problem."</h4>
            <h5>Low-res</h5>
            <audio controls>
              <source src="assets/audio/track-no-1004-low-res.wav" type="audio/wav">
            </audio>
            <h5>High-res</h5>
            <audio controls>
              <source src="assets/audio/track-no-1004-high-res.wav" type="audio/wav">
            </audio>
            <h5>Super-res</h5>
            <audio controls>
              <source src="assets/audio/track-no-1004-super-res.wav" type="audio/wav">
            </audio>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Output for track no. 1006</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div>
              <img src="assets/audio/spectrograms-track-1006-transcript-b'We have to reinforce the pressure on Iraq.'.png" class="diagram mx-auto d-block">
              <h4>"We have to reinforce the pressure on Irak."</h4>
              <h5>Low-res</h5>
              <audio controls>
                <source src="assets/audio/track-no-1006-low-res.wav" type="audio/wav">
              </audio>
              <h5>High-res</h5>
              <audio controls>
                <source src="assets/audio/track-no-1006-high-res.wav" type="audio/wav">
              </audio>
              <h5>Super-res</h5>
              <audio controls>
                <source src="assets/audio/track-no-1006-super-res.wav" type="audio/wav">
              </audio>
            </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Output for track no. 1007</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div>
            <img src="assets/audio/spectrograms-track-1007-transcript-b'That is a break with tradition.'.png" class="diagram mx-auto d-block">
            <h4>"That is a break with tradition."</h4>
            <h5>Low-res</h5>
            <audio controls>
              <source src="assets/audio/track-no-1007-low-res.wav" type="audio/wav">
            </audio>
            <h5>High-res</h5>
            <audio controls>
              <source src="assets/audio/track-no-1007-high-res.wav" type="audio/wav">
            </audio>
            <h5>Super-res</h5>
            <audio controls>
              <source src="assets/audio/track-no-1007-super-res.wav" type="audio/wav">
            </audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
