<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <h3>Audio super-resolution</h3>
      <img src="./assets/img/brand/sinewave.png" class="navbar-brand-img" alt="...">
    </a>

    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <ul *ngIf="!checkIfTokenIsInLocalStorage(); else elseBlock" class="navbar-nav">
          <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                  <i class="ni {{menuItem.icon}}"></i>
                  {{menuItem.title}}
              </a>
          </li>
      </ul>
        <ng-template #elseBlock>
            <h4>Welcome, {{getUsername()}}!</h4>
            <button type="button" class="btn btn-success"
                    (click)="logout()">
                Logout
            </button>
        </ng-template>
        <hr class="my-3">
    </div>
  </div>
</nav>
